/* Nav Bar */
.navbar {
  background-color: rgb(185, 185, 185);
  position: fixed;
  display: flex;
  --heightValue: 50px;
  height: var(--heightValue);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  transform: translateY(calc(var(--heightValue) * -1));
  transition: transform 0.3s ease-in-out;
  z-index: 2;

  .nav-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
}

.nav-title {
  font-family: "Survivor";
  font-size: 5em;
  padding: 0 15px;
  margin-right: auto;
  height: 100%;
  align-items: baseline;
  transform: translateY(-0.15em);
  text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.navbar.hidden {
  transform: translateY(calc(var(--heightValue) * -2.5));
}

/* Hamburger Menu */
.menu {
  transition: transform 0.3s ease;
}

.menu .icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 3px 0;
  transition: transform 0.5s ease-in-out;

  border-radius: 5px;
}

.menu.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(-225deg);
}

.menu.open .bar:nth-child(2) {
  transform: translateX(100px);
}

.menu.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(225deg);
}

.menu-list {
  position: fixed;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: rgba(185, 185, 185, 0.85);
  padding: 3px;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  top: 50px;
  right: -500px;
  transition: right 0.3s ease-in-out;
}

.menu.open .menu-list {
  display: block;
  right: 0px;
}

.loading-image {
  max-height: 40vh;
  max-width: 95%;
}

/* Content Under Nav */
.content {
  margin-top: 50px;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rgb(185, 185, 185);
  z-index: 2;
  align-items: center;
}

/* Survivor Font */
.survivor-header {
  font-family: "Survivor";
  font-size: 5em;
  padding: 0 15px;
  white-space: nowrap;
}

.survivor-body {
  font-family: "Survivor";
  font-size: 2em;
  padding-bottom: 0.2em;
  -webkit-text-stroke: 0.25px black;
}

.survivor-button {
  font-family: "Survivor";
  font-size: 2em;
  color: black;
  border: 1px solid black;
  border-radius: 5px; /* Add rounded corners */
  padding: 0 10px 0.5rem 10px; /* Add padding to separate content from border */
  background-color: var(--noHoverColor, #7a7a7a);
  white-space: nowrap;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.survivor-button:hover {
  color: black !important;
  background-color: rgb(230, 255, 233);
  transition: all 0.4s ease;
}

/* info button */
.info-button {
  font-family: "Survivor";
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: -17rem;
  color: gray;
  transition: color 0.2s ease;
}

.info-button:hover {
  color: rgb(235, 99, 99);
  cursor: pointer;
}

/* Toggle */
.toggle {
  width: 60px;
  height: 30px;
  background-color: rgb(63, 63, 63);
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.on {
  background-color: #4caf50; /* Green background when on */
}

.on .slider {
  transform: translateX(30px); /* Move slider to the right when on */
}

.off .slider {
  transform: translateX(0); /* Move slider to the left when off */
}

.eliminated {
  color: red;
}

/* Survivor Photo */
.photo-container {
  position: relative;
  overflow: hidden;
}

.survivor-photo {
  width: 100%; /* Ensure the image covers the container */
  height: 100%;
  object-fit: cover; /* Crop the image to cover the container */
  object-position: top left; /* Crop from the top-left corner */
  position: absolute; /* Position the image within the container */
  top: 0;
  left: 0;
}

.survivor-info {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.info-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* color label */
.color-label {
  font-family: "Survivor";
  font-size: 3em;
  padding-bottom: 0.25em;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 1000px;
  border: #000 solid 2px;

  .sub-label {
    font-size: 0.75em;
    font-weight: 100;
  }
}

/* Notes */
.notes {
  width: 50%;
  height: 10rem;
  margin: 10px 0;
}

/* Player Info */
.player-info {
  display: grid;
  grid:
    "sidebar body" 1fr
    / auto 1fr;
}

/* Text Input */
.text-input {
  height: 2.85em;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
}

.text-input:hover {
  border: 1px solid #b3b3b3;
}

.text-input:focus {
  outline: none;
  border: 2px solid rgb(0, 115, 255);
}

.width-100 {
  width: 100%;
}

/* Scoreboard */
.scoreboard {
  width: 95%;
  margin: auto;
  border-spacing: 0 3px;
}

.scoreboard tbody {
  display: flexbox;
  flex-direction: column;
}

.scoreboard td,
th {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
}

.scoreboard td {
  background-color: var(--fillColor);
  font-style: var(--selected, normal);
}

.scoreboard tr {
  box-shadow: 0 10px 10px -8px rgb(0, 0, 0, 0.5);
}

/* round corners of first and last td  in each row */
.scoreboard tr td:first-child,
th:first-child {
  border-left: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.scoreboard tr td:last-child,
th:last-child {
  border-right: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.scoreboard-chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* Episode Header */
.episode-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-start;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Episode Notes and Table Container */
.episode-notes-table {
  display: flex;
}

/* Episode Table */
.episode-table {
  border-spacing: 0 3px;
  margin-left: auto;
  height: min-content;
}

.episode-table th {
  text-align: left;
  white-space: nowrap;
}

.episode-table td {
  border: #000 solid 1px;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 20px;
}

/* Point Breakdown */
.point-breakdown {
  display: block;
  width: 100%;
  margin: 0;

  tr {
    height: 2rem;
  }
}

/* Graph */
.graph {
  position: relative;
  width: 100%;
  margin: 0;
}

/* Rechart Container */
.rechart-container {
  width: 95%;
  height: 300px;
  margin: auto;
}

/* Gif */
.gif-container {
  width: 60%;
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
  margin: 0 auto; /* Center the container */
  overflow: hidden; /* Hide any overflow beyond 90% width */
  position: absolute;
  left: 20%;
  top: 10%;
}

.gif {
  width: 100%; /* Make the image fill the container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}

/* Inline Div */
.inline-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Top Div */
.top-inline-div {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  gap: 1rem;
}

/* Vertical Flex Div */
.vertical-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Flex Div */
.flex-div {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 0 5%;
}

/* Fit Content */
.fit-content {
  width: fit-content;
  margin: 0 auto;
  align-items: center;
}

/* Push Right */
.push-right {
  left: 100%;
}

/* Min Width by font size */
.min-width-20rem {
  min-width: 20rem;
}

.min-width-15rem {
  min-width: 15rem;
}

.min-width {
  min-width: var(--min-width);
}

/* container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.container-fixed {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.box {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--fillColor, white);
  margin-top: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.stats-bets {
  display: flex;
  flex-direction: row;

  > * {
    overflow-x: hidden;
  }
}

/* split first child top 25% and second child bottom 75% */
.split-25-75 {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
}

.spread-down {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
}

.min-height {
  height: min-content;
}

.pad-5 {
  padding: 5px;
}

.marg-5 {
  margin: 5px;
}

.gap-0 {
  gap: 0;
}

.footer {
  height: 100px;
}

/* Modal */
.modal-greyout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  min-width: 50%;
  width: fit-content;
  height: fit-content;
  position: fixed;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 2;
}

.modal-warning {
  color: red;
  font-weight: 700;
  text-align: center;
  text-wrap: wrap;
}

.modal-content .react-colorful {
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.bottom-between > *:first-child {
  margin-bottom: -8px;
  border-bottom: 1px solid black;
}

/* Centered */
.centered {
  position: relative;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* Right Justified Text */
.just-right {
  text-align: right;
}

/* Padded Sides */
.padded-sides {
  padding: 0 5%;
}

/* Bottom Fixed*/
.bottom-fixed {
  position: fixed;
  bottom: 0;
  padding: 1%;
  width: 90%;
}

/* No Wrap */
.no-wrap {
  white-space: nowrap;
}

/* Clean Link */
a.clean-link {
  text-decoration: inherit;
  color: inherit;
}

/* pointer mouse */
button,
.clickable {
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px;
}

th {
  font-weight: 700;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

hr {
  height: 1px; /* Set the minimal height (adjust as needed) */
  margin: 10px 0;
  border: none; /* Remove border */
  background-color: #000; /* Set the line color (adjust as needed) */
  width: 100%; /* Width as needed */
}

h4 {
  margin: 0.5rem 0;
}

/* Media query for mobile or narrow screens
-------------------------------------------
Please note this value should match 
the small screen value in WindowContext.js
As far as I can tell there is no reliable way 
to pass variables to media queries
*/
@media (max-width: 975px) {
  .nav-title {
    font-size: 3em;
    line-height: 0.5em;
    padding: 0.1em 0;
  }

  .stats-bets {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .player-info {
    grid: "sidebar" 1fr;
  }

  .survivor-info {
    grid-template-columns: 1fr;
  }

  .photo-container {
    min-height: 250px;
  }
}

@media (max-width: 775px) {
  .color-label {
    font-family: "Survivor";
    font-size: 3em;
    padding-bottom: 0.25em;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 1000px;
    border: #000 solid 2px;
  }

  .container {
    flex-direction: column; /* Stack the boxes vertically */
    justify-content: center;
  }

  .flex-div {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
    overflow-x: hidden;
  }

  .scoreboard-chart {
    display: block;
    align-items: center;
  }
}

@media (max-width: 620px) {
  .stats-bets {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 535px) {
  .survivor-header {
    font-size: 3em;
    line-height: 0.5em;
    padding: 0.1em 0;
  }

  .survivor-body {
    font-size: 1.2em;
  }

  .survivor-button {
    font-family: "Survivor";
    font-size: 0.75em;
    color: black;
    border: 1px solid black;
    border-radius: 5px; /* Add rounded corners */
    padding: 0 10px 0.5rem 10px; /* Add padding to separate content from border */
    white-space: nowrap;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  /*shift image crop to the left 10 px*/
  .photo-container img {
    object-position: 20% 0;
  }

  th,
  td {
    font-size: 0.75em;
  }

  .episode-table td {
    padding-left: 5px;
  }

  .bottom-between > *:first-child {
    margin-bottom: -4px;
    border-bottom: 1px solid black;
  }

  .info-button {
    top: -0.3rem;
    left: 0;
    right: -10rem;
  }
}

@media (max-width: 400px) {
  .info-photo {
    display: flex;
    flex-direction: column;
  }

  .photo-container {
    aspect-ratio: 1/1;
  }
}
